.body {
    background-color: #262626;
    color: white;
    font-family: "DDG_ProximaNova","DDG_ProximaNova_UI_0","DDG_ProximaNova_UI_1","DDG_ProximaNova_UI_2","DDG_ProximaNova_UI_3","DDG_ProximaNova_UI_4","DDG_ProximaNova_UI_5","DDG_ProximaNova_UI_6","Proxima Nova","Helvetica Neue","Helvetica","Segoe UI","Nimbus Sans L","Liberation Sans","Open Sans";
    font-weight: 100;
}

.title {
    font-family:"NeueHaasUnicaPro", clean,sans-serif;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    text-align: center;
    line-height: 10;
    width:950px;
    height:475px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("algorithm_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.author {
    font-family: "Arial Narrow", sans-serif;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 25px;
}

.description {
    font-family: "Arial Narrow", sans-serif;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 25px;
    color: #999999;
}

.algorithm_body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:300px;
    height:250px;
    padding-bottom: 0px;
    padding-top: 10px;
}

.sidebyside {
    display: flex;
    flex-direction: row;
}

.quote {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    padding-right: 150px;
    color: #999999;
}

.body_paragraph {
    text-align: left;
    padding-left: 150px;
    padding-right: 50px;
    font-family: "ff-tisa-web-pro",Georgia,Times,"Times New Roman",serif;
    color: #eaeaea;
    font-size: 25px;
}

.article_content {
    text-align: left;
    padding-left: 150px;
    padding-right: 150px;
    font-family: "ff-tisa-web-pro",Georgia,Times,"Times New Roman",serif;
    color: #eaeaea;
    font-size: 25px;
}

a.link:link, a.link:visited {
    color: #999999;
    text-decoration: underline;
  }

a.link:hover {
    color: #999999;
    text-decoration: underline;
}